@grey: #A9A9A9;

footer {
	padding-top: 16px;
	border-top: 1px solid @grey;
}

.jumbotron {
	background: url(https://images.ctfassets.net/hrltx12pl8hq/66lRNN2kfHcVSUMrmrcKxf/76b78071032586ff9766d8eb51592f21/free-nature-images.jpg?fit=fill&w=840&h=350) 100% 100% no-repeat;;
	background-size: cover;
	min-height: 500px;
	padding: 50px;
	color: aliceblue;
}

.nav-item {
	padding: 0 5px;
}

.nav-item > a {
	color: @grey;
	text-decoration: none;
}

.loginContainer {
	height: calc(100vh - 200px);
	padding-top: 100px;
}
